<!DOCTYPE html>
<html>
<head>
	<title>About-us Page</title>
  <link rel="stylesheet" href="/css/about.css">
  <link rel="shortcut icon" href="/favicon.jpeg">
</head>
<body>
	<div class="container">
		<div class="about">
			<div class="text">
				<h1>About Us</h1>
				<div class="line"></div>
			</div>
		</div>
		<div class="content">
			<p>Our team
        <ul>
          <li>Harsh Dhariwal</li>
          <li>Kanhaiya Yadav</li>
          <li>Satwik Pandey</li>
          <li>Milind Choudhary</li>
          <li>Archita Lal</li>
          <li>Dhritika Singh</li>
        </ul>
      </p>
		</div>
		</div>
		<footer><i>Copyright &copy; THE CODIANS 2022</i></footer>
</body>
</html>
