<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/contact.css">
<link rel="shortcut icon" href="/favicon.jpeg">
    <title>Contact us</title>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!-- navbar comes here -->

<div id="navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
              <li class="upper-links"><a class="links" href="/products">Shop now</a></li>
              <li class="upper-links"><a class="links" href="/about">About us</a></li>
                <li class="upper-links"><a class="links" href="/contact">Contact Us</a></li>
                <li class="upper-links" style="float:right;">
                    <a class="links" href="">
                        <svg class="" width="16px" height="12px" style="overflow: visible;">
                            <path d="M8.037 17.546c1.487 0 2.417-.93 2.417-2.417H5.62c0 1.486.93 2.415 2.417 2.415m5.315-6.463v-2.97h-.005c-.044-3.266-1.67-5.46-4.337-5.98v-.81C9.01.622 8.436.05 7.735.05 7.033.05 6.46.624 6.46 1.325v.808c-2.667.52-4.294 2.716-4.338 5.98h-.005v2.972l-1.843 1.42v1.376h14.92v-1.375l-1.842-1.42z" fill="#fff"></path>
                        </svg>
                    </a>
                    <img src="cart.jpeg" alt=""  width="24px" height="28px" style="overflow: visible;>
                </li>
               <li class="upper-links dropdown">


                </li>
            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
                <!-- <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()"> The Artisans</span></h2> -->
                <a href="/" style="color: white;
    text-decoration: none;">  <h1 style="margin:0px;"><span class="largenav">The Artisans</span></h1></a>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Search for Products, Brands and more" name="">
                    <button class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- contact us form -->
<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form" action="/">
      <span class="contact100-form-title">
        Contact Us
      </span>

      <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
        <span class="label-input100">FULL NAME *</span>
        <input class="input100" type="text" name="name" placeholder="Enter Your Name">
      </div>

      <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
        <span class="label-input100">Email *</span>
        <input class="input100" type="text" name="email" placeholder="Enter Your Email ">
      </div>

      <div class="wrap-input100 bg1 rs1-wrap-input100">
        <span class="label-input100">Phone</span>
        <input class="input100" type="text" name="phone" placeholder="Enter Number Phone">
      </div>

      <div class="wrap-input100 input100-select bg1">
        <span class="label-input100">Query regarding</span>
        <div>
          <select class="js-select2" name="service">
            <option>Please choose</option>
            <option>Past order</option>
            <option>Customised services </option>
            <option>current order</option>
            <option value="">miscellenious</option>
          </select>
          <div class="dropDownSelect2"></div>
        </div>
      </div>

      <div class="w-full dis-none js-show-service">
        <div class="wrap-contact100-form-radio">
          <span class="label-input100">How would you like to hear from us ?</span>

          <div class="contact100-form-radio m-t-15">
            <input class="input-radio100" id="radio1" type="radio" name="type-product" value="physical" checked="checked">
            <label class="label-radio100" for="radio1">
              Chat with our executive
            </label>
          </div>

          <div class="contact100-form-radio">
            <input class="input-radio100" id="radio2" type="radio" name="type-product" value="digital">
            <label class="label-radio100" for="radio2">
              place a call
            </label>
          </div>

          <div class="contact100-form-radio">
            <input class="input-radio100" id="radio3" type="radio" name="type-product" value="service">
            <label class="label-radio100" for="radio3">
              Visit a nearby office
            </label>
          </div>
        </div>



          <div class="contact100-form-range-bar">
            <div id="filter-bar"></div>
          </div>
        </div>
      </div>

      <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
        <span class="label-input100">Message</span>
        <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
      </div>

      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" type="submit" onclick="window.location.href='/'">
          <span>
            Submit
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
        </form>
      </div>

  </div>


  </body>
</html>
